{id, xmpp_swarm}.
{erl_opts, [debug_info]}.

{deps, [
    %% If you later pull ejabberd libs or xmpp libs, add here
    {fast_tls, ".*", {git, "https://github.com/processone/fast_tls", {tag, "1.1.19"}}},
    {fast_xml, ".*", {git, "https://github.com/processone/fast_xml", {tag, "1.1.51"}}},
    {fast_yaml, ".*", {git, "https://github.com/processone/fast_yaml", {tag, "1.0.36"}}},
    {xmpp, ".*", {git, "https://github.com/processone/xmpp", {tag, "1.8.1"}}},
    {amqp_client, ".*", {git, "https://github.com/venkateshcontus/amqp_client", {branch, "feature/contus_custom"}}}
]}.
